<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Breast Cancer</title>
<link href="../static/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrapper">
   <div id="branding">
   <h1>Breast Cancer</h1>
   <ul class="topNav">
	    <li><a href="index.html" class="topNavAct">HOME</a></li>
		<li><a href="hf.html">HEART DISEASE</a></li>
		<li><a href="bc.html">BREAST CANCER</a></li>
		<!-- <li><a href="#">FICTION &amp; POETRY</a></li>
		<li><a href="#">THE TALK OF THE TOWN</a></li>
		<li><a href="#">ONLINE ONLY</a></li>
		<li><a href="#">SUBSCRIBE</a></li>
		<li><a href="#">ABOUT US</a></li>
		<li><a href="#">ARCHIVE</a></li> -->
		<!-- <li><a href="#" class="topNavLast">SOME OTHER DISEASE</a></li> -->
        
	  </ul><br class="clear" />
   </div>
   <div id="contant">
    <div class="contant_1">
	<div class="contant_1_left">
	  <h2>
       Using ML Classification Algorithms to Diagnose Diseases and Pathologies
      </h2>
	  <img src="../static/images/heart.png" width="277" height="266" alt="" />
	  <!-- <h3>What We Speak.</h3> -->
	  <br class="clear bottomClear" />
	  <p> In a world of complicated and noisy data, healthcare data is among the most difficult to analyze. Doctors, researchers, and other healthcare professionals have invested decades of efforts into creating efficient methods of diagnosing patients quickly and accurately, in a way that enables the best care and healthcare outcomes possible. In this project, we aim to make this task a little simpler for them by enabling the use of Machine Learning tools that are trained to identify a pathology. </p> <br /><br />
	  <p> Specifically, we tested different classification methods on two different cases: heart disease and breast cancer. In the case of heart disease, our models were trained to predict if a certain patient case or set of symptoms would lead to mortality, or death event of 0 or 1. In the case of breast cancer, our models were given a set of metrics regarding a tumor, and were trained to classify if they were benign or malignant.</p> <br /><br />
	  <p> We used several different classification techniques in this project: an XGB Classifier, Linear SVC model, Logistic Regression (LGR), Random Forest Classification (RFC), and K-Nearest-Neighbor (KNN). More details regarding some of these techniques will be discussed in further detail below.  </p> <br /><br /> 
	</div>
	<!-- <div class="sideBar">
	  <div class="sideBarListBox">
		<img src="images/sideBarListBoxTop.png" alt="" width="240" height="10" />
		<ul>
			<li><a href="#" >What is Lorem Ipsum?</a></li>
			<li><a href="#">Why Do We Use It?</a></li>
			<li><a href="#">Where Does It Come From?</a></li>
			<li><a href="#">Where Can I Get Some?</a></li>
			<li><a href="#">There are many variations of passages of Lorem Ipsum available</a></li>
			<li><a href="#">Alteration In Some Form</a></li>
			<li><a href="#">If you are going to use a passage</a></li>
			<li><a href="#">You Need To Be Sure There</a></li>
			<li><a href="#">The generated Lorem Ipsum is</a></li>
			</ul>
		<img src="images/sideBarListBoxBottom.png" alt="" width="240" height="10" />
	  </div>
	  <div class="sideBarItem">
	  <h3>Blogroll</h3>
	  <ul>
         <li><a href="#">Category One</a></li>
         <li class="cat002"><a href="#" >There are many</a></li>
         <li class="cat003"><a href="#">Lorem Ipsum available</a></li>
		 <li class="cat003"><a href="#">If you are going</a></li>
		 <li class="cat003"><a href="#">All the Lorem Ipsum</a></li>
		 <li class="cat003"><a href="#">200 Latin words</a></li>
		 <li class="cat003"><a href="#">It uses a dictionary</a></li>
		 <li class="cat003"><a href="#">Lorem ipsum dolor</a></li>
		 <li class="cat003"><a href="#">Latin professor at</a></li>
        </ul>
	  </div>
		<div>
	  
	  	</div>
	</div> -->
    <br class="clear" />
   </div>
   </div>
   <div class="midBox1">
		 <span><img src="../static/images/bc_ftr_corr.png" width="280" height="250" alt="" /></span>
	     <div class="midBox1Top">
		 <h3>Feature Correlation</h3>
		 <h4>How is each feature correlated with a tumor classification?</h4>
		 <!-- <p>
			Here, we find that age is highly correlated to a death event.
			<img src="../static/images/bc_ftr_corr.png" width="280" height="250" alt="" />
		 </p>  -->
		 		 
		</div>
		 <div class="midBox1Bottom">
		 </div>
		 <br class="clear" />
	  </div>
   <div class="midBox2">
	  <div class="midBox2L">
		 <h2>Data Exploration on Breast Cancer</h2>
		 <h3>Which features are most important?</h3>
		 <p>Feature analysis from the XGB model are shown here.</p>
	  </div>
	  <img src="../static/images/de_bc_ftrimp.png" width="460" height="237" alt="" />
   </div>
   <div class="midBox2">
	<div class="midBox2L">
	   <h2>SVC Precision-Recall Curve for Breast Cancer</h2>
	   <!-- <h3>Note that k: 11 seems to be the best choice for this dataset.</h3>
	   <p>k=11 Accuracy of the KNN prediction: 0.667</p> -->
	</div>
	<img src="../static/images/bc_svc-PrRc.png" width="460" height="237" alt="" />
 </div>
   <!-- <div id="footer">
    <div class="footerForm">
	  <h3>Lorem Ipsum passages</h3>
	   <h4>more recently with desktop publishing</h4>
	  <div class="footerFormR">
	   <p><label>Name*:</label><input name="Name" type="text" class="footerInputArea" /></p>
	   <p><label>Email*:</label><input name="Email" type="text" class="footerInputArea" /></p>
	   <p><label>Phone Number:</label><input name="Number" type="text" class="footerInputArea" /></p>
	  </div>
	  <div class="footerFormR">
	   <p><label>Message:</label> <textarea name="" class="footertextarea" rows="2" cols="3"></textarea>
	   </p>
        <input name="" type="button" class="footerSubmit" />
	  </div>
	  <br class="clear" />
	  </div>
	<p>All the Lorem Ipsum generators on the<br /> Internet tend to repeat predefined chunks as<br /> necessary, making this the first true generator<br /> on the Internet. It uses a dictionary of over<br /> 200 Latin words, combined with a handful of<br /> model sentence structures, to generate Lorem<br /> Ipsum which looks reasonable. The generated<br /> Lorem Ipsum is therefore always free from<br /> repetition, injected humour, or<br /> non-characteristic words etc.</p>
	<br class="clear" />
   </div> -->
 </div>
    <div id="footerContainer">
    <!-- <p>
	 <label>Designed by <a href="http://vectorart.org">VectorArt</a></label>
	 <span>Copyright 2009 Lorem Ipsum. All Rights Reserved</span>
	</p> -->
   </div>
</body>
</html>
